<video autoplay loop id="bgvid">
	<source src="./video/sall.webm" type="video/webm">
	<source src="./video/sall.mp4" type="video/mp4">
</video>
<div class="video-alpha"></div>
<div class="top-part">
{{#each}}
<div class="image-centrage">
	<img src="./img/rapper-big/big-{{id}}.png" alt="{{blazz}}">
</div>
<div class="description">
	<div class="top-description">
		<h2>{{blazz}}</h2>
		<div class="btn-play-pause"></div>
	</div>
	<div class="bottom-description">
		<p><span>Nom :</span> {{firstname}} {{lastname}}</p>
		<p><span>Naissance :</span> {{birth}}</p>
		<p><span>Lieu de naissance :</span> {{birth_place}}</p>
		<p><span>Années actives :</span> Depuis {{begin_year}}</p>
		<p><span>Labels :</span> 
		{{#each label}}
			{{#if @index}} , &thinsp;{{/if}} {{this.l_name}}
		{{/each}}</p>
		{{#if surnom}}
		<p><span>Surnom :</span> 
		{{#each surname}} 
			{{#if @index}} , &thinsp;{{/if}} {{this.s_name}} 
		{{/each}}</p>
		{{/if}}
		{{#if official_website}}
		<p class="inline"><span>Site officiel :&thinsp;</span></p><a class="inline" target="_blank" href="http://www.{{official_website}}"> {{official_website}}</a>
		{{/if}}
		<p class="punchline">"{{punchline}}"</p>
		<ul>
				<ul>
					<li>DISQUE D'OR</li>
					<li>{{disque_or}}</li>
				</ul>
				<ul>
					<li>DISQUE DE PLATINE</li>
					<li>{{disque_platine}}</li>
				</ul>
				<ul>
					<li>DOUBLE DISQUE DE PLATINE</li>
					<li>{{double_disque_platine}}</li>
				</ul>
				<ul>
					<li>DISQUE DE DIAMANT</li>
					<li>{{disque_diamant}}</li>
				</ul>
		</ul>
	</div>
</div>



</div>
<div class="bottom-part">
	<div class="container">
		<ul class="menu-fiche">
			<li id="bio" data-id="{{id}}">BIOGRAPHIE</li>
			<li id="popularite" data-id="{{id}}">POPULARIté</li>
			<li id="album-vendu" data-id="{{id}}">ALBUMS VENDUS</li>
		</ul>
		<div class="container-infos-rapper">
			<div id="conteiner-popularite">
				<ul>
					<li>
						<p>{{likes}}</p>
						<span class="likes">LIKES</span>
					</li>
					<li>
						<p>{{followers}}</p>
						<span class="twitter">FOLLOWERS</span>
					</li>
					<li>
						<p>{{abonnes}}</p>
						<span class="abonne">Abonés</span>
					</li>
					<li>
						<p>{{instagram}}</p>
						<span class="instagram">Followers</span>
					</li>
				</ul>
				<div id="module-fan">
					<div class="fan-rappeur"><h3>{{v3}}<br/><span>FANS {{blazz}}</span></h3></div>
					<div class="circle-fan-vs"><div class="circle-total"></div><svg id="graph-fans"></svg></div>
					<div class="total-fan"><h3>{{total_fans}}<br/><span>FANS PANAM ALL STARZ</span></h3></div>
				</div>
			</div>
			<div id="conteiner-module-albums" class="displayNonePage">
				<svg id="graph-albums"></svg>
			</div>
		</div>
	</div>
</div>
{{/each}}